.ride-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #eee;
  margin: 6px 0;
  border-radius: 6px;
  flex-wrap: wrap;
}
.ride-card.full {
  opacity: 0.6;
}
.left {
  max-width: 70%;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
}
input {
  padding: 6px;
}
.msg {
  color: #333;
  font-size: 12px;
}
.mb-2{
  margin-bottom: 8px;
}
.errror-msg{
  color: red;
}
