body {
  font-family: "Noto Sans", sans-serif !important;
  margin: 18px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
h1 {
  margin-bottom: 14px;
  text-align: center;
}
button {
  border: 0px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  color: white;
  background: #764fdb;
  padding: 14px 26px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  &:disabled {
    background-color: #cdd5df;
  }
}
input,
select {
  display: block;
  margin: 10px 0;
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  border: 1px solid #cdd5df;
  &:hover {
    cursor: pointer;
  }
}
